
header{
  background-color: pink;
  color: dark pink;
  text-aling: center;
  max-width: 800px;
  margin: 0auto;
  padding|: 16px;
}
main{
  background-color: dark pink;
  color: ;
  max-width: 800px;
  margin:0 auto;
  padding: 16px;
}
article{
  display: flex;
}

img{
  width: 80px;
  height: 80px;
}
artigo-autor {
  font-weight: bold;
}
